{% extends "portfolio/portfolio_header.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if portfolio %}
        Delete Portfolio
    {% elif asset %}
        Delete Asset
    {% elif transaction %}
        Delete Transaction
    {% endif %}
{% endblock title %}

{% block portfolio_inner_content %}
<div class="container text-center">
    <h2>
        {% if transaction %}
            Are you sure you want to delete the transaction from this portfolio?
        {% elif asset %}
            Are you sure you want to delete the asset <strong class="text-decoration-underline">{{ asset.name }}</strong> from this portfolio?
        {% elif portfolio %}
            Are you sure you want to delete the portfolio?
        {% endif %}
    </h2>

    <!-- Warning Messages -->
    {% if transaction %}
        <p>*Once confirmed, the transaction cannot be recovered.</p>
    {% elif asset %}
        <p>*All transactions from this asset will also be deleted.</p>
    {% elif portfolio %}
        <p>*All assets and transactions from this portfolio will be completely deleted.</p>
    {% endif %}

    <!-- Delete Confirmation Form -->
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete</button>
            {% if portfolio %}
                <a href="{% url 'portfolio_detail' portfolio.pk %}" class="btn btn-warning">Cancel</a>
            {% elif asset %}
                <a href="{% url 'edit_asset' portfolio.pk asset.pk %}" class="btn btn-warning">Cancel</a>
            {% elif transaction %}
                <a href="{% url 'edit_asset' portfolio.pk asset.pk %}" class="btn btn-warning">Cancel</a>
            {% endif %}
        </div>
    </form>

    <!-- Optional back link for portfolios -->
    {% if portfolio and not portfolio %}
        <a href="{% url 'portfolio' %}" class="btn btn-warning">Back to Portfolios</a>
    {% endif %}
</div>
{% endblock portfolio_inner_content %}
