{% extends "portfolio/portfolio_header.html" %}
{% load crispy_forms_tags %}

{% block title %}Delete Portfolio{% endblock title %}
{% block portfolio_inner_content %}
<div class="container centered">
    <h2>Are you sure you want to delete the portfolio?</h2>
    <p>*All assets and transactions from this portfolio will be completely deleted too</p>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'portfolio_detail' object.pk %}" class="btn btn-warning">Cancel</a>
        </div>
    </form>
    {% if not object %}
        <a href="{% url 'portfolio' %}" class="btn btn-warning">Back to Portfolios</a>
    {% endif %}

</div>
{% endblock portfolio_inner_content %}
