{% extends "portfolio/portfolio_header.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}Portfolio Details{% endblock title %}
<div class="portfolio-content">
    {% block portfolio_inner_content %}

        <div class="inner-header">
            <h2>Assets</h2>
            <a href="{% url 'portfolio_add_asset' portfolio.pk %}" class="btn-add btn btn-success btn-sm">+</a>
        </div>

        {% if assets %}

            <div class="table-responsive justify-inner-content">
                <table class="table table-borderless table-hover table-sm align-middle" id="asset-table">
                    <thead>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" data-column="name" onclick="sortTable(0)">
                                    Name 
                                </th>
                                <th scope="col" data-column="quantity" onclick="sortTable(1)">
                                    Quantity 
                                </th>
                                <th scope="col" data-column="price" onclick="sortTable(2)">
                                    Av. Price 
                                </th>
                                <th scope="col" data-column="total_value" onclick="sortTable(3)">
                                    Value
                                </th>
                            </tr>
                        </thead>
                    <tbody class="table-group-divider">
                    </tbody>
                    <tbody>
                        {% for asset in assets %}
                        <tr class="dashboard-table" style="cursor: pointer;" onclick="window.location.href='{% url "edit_asset" portfolio.pk asset.pk %}'">
                            <th scope="row">
                                <meta name="csrf-token" content="{{ csrf_token }}">
                                <a href="{% url 'edit_asset' portfolio.pk asset.pk %}" class="btn btn-info btn-sm"
                                    onclick="event.stopPropagation();">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="{% url 'portfolio_delete_asset' portfolio.pk asset.pk %}" class="btn btn-danger btn-sm btn-delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </th>
                            <td scope="row">{{ asset.name }}</td>
                            <td scope="row">{{ asset.get_total_quantity }}</td>
                            <td scope="row">
                                {% if asset.transactions.exists %}
                                    {{ asset.get_average_price }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td scope="row">
                                {% if asset.transactions.exists %}
                                    {{ asset.get_total_value }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="dashboard-table">
                            <th scope="row"></th>
                            <td scope="row"></td>
                            <td scope="row"></td>
                            <td scope="row"></td>
                            <td scope="row">{{ total_value_sum }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        {% else %}
            <p class="justify-inner-content">No assets in this portfolio yet</p>
        {% endif %}

        <script src="{% static 'js/asset.js' %}" defer></script>
        <script src="{% static 'js/sort_table.js' %}" defer></script>
    {% endblock portfolio_inner_content %}
</div>
