{% extends "portfolio/portfolio.html" %}
{% load static %}

{% block title %}Add Asset{% endblock title %}
{% block portfolio_content %}
<div class="container">
    <h1>Add Asset to portfolio: <span style="color: {{portfolio.color|default:'#FFFFFF'}}">{{ portfolio.name }}</span></h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Add Asset</button>
        <a href="{% url 'portfolio_detail' portfolio.pk %}" class="btn btn-secondary">Cancel</a>
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',  // Match your datetime format
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
</div>
{% endblock portfolio_content %}
