{% extends "portfolio/portfolio.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}Portfolio Details{% endblock title %}
{% block portfolio_content %}
<div class="container">
    <div class="portfolio-title">
        <h1 style="color: {{portfolio.color|default:'#FFFFFF'}};">{{ portfolio.name }}</h1>
        <a href="{% url 'portfolio_delete' portfolio.pk %}" class="btn btn-danger">Delete Portfolio</a>
        <p><strong>Created at:</strong> {{ portfolio.created_at }}</p>
    </div>

    <div class="portfolio-content">
        <div>
            <h2>Assets</h2>
            <a href="{% url 'portfolio_add_asset' portfolio.pk %}" class="btn btn-primary">Add Asset</a>
        </div>
        {% if assets %}
        <div class="table-responsive">
            <table class="table table-borderless table-hover table-sm align-middle">
                <thead>
                    <tr>
                        <th scope="col">Actions</th>
                        <th scope="col">
                            <a href="?order=name">
                                Name {% if current_order == 'name' %}▲{% elif current_order == '-name' %}▼{% endif %}
                            </a>
                        </th>
                        <th scope="col">
                            <a href="?order=quantity">
                                Quantity {% if current_order == 'quantity' %}▲{% elif current_order == '-quantity' %}▼{% endif %}
                            </a>
                        </th>
                        <th scope="col">
                            <a href="?order=price">
                                Price {% if current_order == 'price' %}▲{% elif current_order == '-price' %}▼{% endif %}
                            </a>
                        </th>
                        <th scope="col">
                            <a href="?order=total_value">
                                Total Value
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                </tbody>
                <tbody>
                    {% for asset in assets %}
                    <tr class="dashboard-table">
                        <th scope="row">
                            <a href="{% url 'portfolio_edit_asset' portfolio.pk asset.pk %}" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a href="{% url 'portfolio_delete_asset' portfolio.pk asset.pk %}" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </th>
                        <td scope="row">{{ asset.name }}</td>
                        <td scope="row">{{ asset.quantity }}</td>
                        <td scope="row">{{ asset.price }}</td>
                        <td scope="row">{{ asset.quantity|multiply:asset.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="dashboard-table">
                        <th scope="row"></th>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row">{{ total_value_sum }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% else %}
        <p>No assets in this portfolio.</p>
        {% endif %}
    </div>
</div>
{% endblock portfolio_content %}
