{% extends "portfolio/portfolio.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}My Portfolios{% endblock title %}
{% block portfolio_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="my-portfolio-title inner-header">
                <h1 class="mb-8">My Portfolios</h1>
                <a href="{% url 'portfolio_new' %}" class="btn-add btn btn-success btn-sm">+</a>
            </div>
            {% if portfolios %}
                <div class="list-group" id="portfolios-list">
                    {% for portfolio in portfolios %}
                        <a href="{% url 'portfolio_detail' portfolio.pk %}" class="list-group-item list-group-item-action">
                            <div class="color-tag" style="background-color: {{portfolio.color}};"></div>
                            <div class="portfolio-card-content">
                                <h5 class="mb-1">{{ portfolio.name }}</h5>
                                <p class="mb-1">Description: <br>{{ portfolio.description|truncatewords:20 }}</p>
                            </div>
                            {% include 'portfolio/includes/portfolio_stats.html' %}
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>No portfolios found. Click the button above to create your first portfolio.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock portfolio_content %}
