{% extends "portfolio/portfolio.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}View Asset{% endblock title %}
{% block portfolio_content %}
<div class="container">
    <div class="portfolio-title">
        <a href="{% if portfolio %}{% url 'portfolio_detail' portfolio.pk %}{% else %}#{% endif %}"
            class="btn btn-warning btn-sm">Back</a>
        <h1>Asset in <span style="color: {{ portfolio.color|default:'#FFFFFF'}};">{{ portfolio.name }}</span></h1>
    </div>
    <div class="portfolio-content">
        <div>
            <!-- Display Asset Name as Text -->
            <h2>Asset: <span id="asset-name-display">{{ asset.name }}</span></h2>

            <!-- Form to Edit Asset Name, initially hidden -->
            <form id="asset-name-form" method="post" style="display: none;" action="{% url 'portfolio_edit_asset' portfolio.pk asset.pk %}">
                {% csrf_token %}
                <input type="text" name="name" value="{{ asset.name }}" class="form-control" />
                <button type="submit" class="btn btn-success btn-sm btn-save">
                    <i class="fa-solid fa-floppy-disk"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-cancel" onclick="toggleAssetEditMode(false)">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </form>                        

            <!-- Edit and Delete Buttons -->
            <button id="edit-asset-name-btn" class="btn btn-warning btn-sm" onclick="toggleAssetEditMode(true)">
                <i class="fa-solid fa-pencil"></i>
            </button>
            <button id="delete-asset-btn" type="button" class="btn btn-danger btn-sm btn-delete"
                onclick="deleteAsset({{ asset.pk }}, {{ portfolio.pk }})">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        <hr>
        <h2>Transactions</h2>
        <a href="{% url 'transaction_add' portfolio.pk asset.pk %}" class="btn btn-success mb-4">Add Transaction</a>
        {% if transactions %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Options</th>
                    <th>Type</th>
                    <th>Action</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr id="transaction-{{ transaction.pk }}">
                    <td>
                        <button type="button" class="btn btn-warning btn-sm btn-edit"
                            onclick="toggleEditMode({{ transaction.pk }})">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm btn-delete"
                            onclick="deleteTransaction({{ transaction.pk }})">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm btn-save" style="display: none;"
                            onclick="saveTransaction({{ transaction.pk }})">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm btn-cancel" style="display: none;"
                            onclick="toggleEditMode({{ transaction.pk }}, false)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </td>
                    <td>
                        <span class="display-mode">{{ transaction.get_type_display }}</span>
                        <select name="type" class="edit-mode form-control" style="display: none;">
                            <option value="long" {% if transaction.type == 'long' %}selected{% endif %}>Long</option>
                            <option value="short" {% if transaction.type == 'short' %}selected{% endif %}>Short</option>
                        </select>
                    </td>
                    <td>
                        <span class="display-mode">{{ transaction.get_action_display }}</span>
                        <select name="action" class="edit-mode form-control" style="display: none;">
                            <option value="buy" {% if transaction.action == 'buy' %}selected{% endif %}>Buy</option>
                            <option value="sell" {% if transaction.action == 'sell' %}selected{% endif %}>Sell</option>
                        </select>
                    </td>
                    <td>
                        <span class="display-mode">{{ transaction.quantity }}</span>
                        <input name="quantity" type="number" class="edit-mode form-control" style="display: none;"
                            value="{{ transaction.quantity }}">
                    </td>
                    <td>
                        <span class="display-mode">{{ transaction.price }}</span>
                        <input name="price" type="number" class="edit-mode form-control" style="display: none;"
                            value="{{ transaction.price }}">
                    </td>
                    <td>
                        <span class="display-mode">{{ transaction.date }}</span>
                        <input name="date" type="datetime-local" class="edit-mode form-control" style="display: none;"
                            value="{{ transaction.date|date:'Y-m-d\\TH:i' }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No transactions found.</p>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/asset.js' %}" defer></script>
{% endblock portfolio_content %}
