{% extends "portfolio/portfolio_header.html" %}
{% load static %}

{% block title %}Add Asset{% endblock title %}
{% block portfolio_inner_content %}
<div>
    <h2>Add Asset to portfolio:</h2>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Add Asset</button>
        <a href="{% url 'portfolio_detail' portfolio.pk %}" class="btn btn-secondary">Cancel</a>
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',  // Match datetime format
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
</div>
{% endblock portfolio_inner_content %}
