{% extends "portfolio/portfolio_header.html" %}

{% block title %}Delete Asset{% endblock title %}
{% block portfolio_inner_content %}
<div class="container">
    <h2>Are you sure you want to delete the transaction from this portfolio?</h2>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'portfolio_edit_asset' portfolio.pk asset.pk %}" class="btn btn-warning">Cancel</a>
    </form>
</div>
{% endblock portfolio_inner_content %}
