{% extends "portfolio/portfolio.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block portfolio_content %}
<div class="container">
    <div class="portfolio-header" id="portfolio-header"
        style="background-color: {{ portfolio.color }};">
        <div class="portfolio-title">
            <form id="portfolio-form" method="post">
                {% csrf_token %}
                <div id="portfolio-name">
                    <h1>Portfolio: <span class="display-mode">{{ portfolio.name }}</span></h1>
                    <input name="name" type="text" class="edit-mode form-control" style="display: none;"
                        value="{{ portfolio.name }}">
                </div>
                <div id="portfolio-description">
                    <p>Description: <br><span class="display-mode">{{ portfolio.description }}</span></p>
                    <input name="description" type="text" class="edit-mode form-control" style="display: none;"
                        value="{{ portfolio.description }}">
                </div>
            </form>
        </div>
        {% include 'portfolio/includes/portfolio_stats.html' %}
        {% include 'portfolio/includes/portfolio_actions.html' %}
    </div>

    {% block portfolio_inner_content %}
    {% endblock portfolio_inner_content %}

</div>
<script src="{% static 'js/portfolio_header.js' %}" defer></script>
{% endblock portfolio_content %}
