{% extends "portfolio/portfolio_header.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}Portfolio Details{% endblock title %}

<!-- Include DataTables CSS -->
{% block extra_css_portfolio_header %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock extra_css_portfolio_header %}

<div class="portfolio-content">
    {% block portfolio_inner_content %}
    <!-- Header Section with Add Asset Button -->
    <div class="inner-header d-flex justify-content-between align-items-center">
        <h2>Assets</h2>
    </div>

    <!-- Assets Table -->
    {% if assets %}
    <div class="table-responsive">
        <table class="table table-borderless table-hover table-sm align-middle" id="asset-table">
            <thead>
                <tr>
                    <th scope="col" class="unfiltered-column"><a href="{% url 'portfolio_add_asset' portfolio.pk %}"
                            class="btn-add btn btn-success btn-sm" aria-label="Add asset">+</a></th>
                    <th scope="col" class="filtered-column" data-column="name">Name</th>
                    <th scope="col" class="filtered-column" data-column="quantity">Quantity</th>
                    <th scope="col" class="filtered-column" data-column="price">Avg. Price</th>
                    <th scope="col" class="filtered-column" data-column="total_value">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets %}
                <tr class="dashboard-table" style="cursor: pointer;"
                    onclick="window.location.href='{% url 'edit_asset' portfolio.pk asset.pk %}'">
                    <th scope="row">
                        <meta name="csrf-token" content="{{ csrf_token }}">
                        <a href="{% url 'edit_asset' portfolio.pk asset.pk %}" class="btn btn-info btn-sm"
                            aria-label="View asset" onclick="event.stopPropagation();">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a href="{% url 'portfolio_delete_asset' portfolio.pk asset.pk %}" class="btn btn-danger btn-sm"
                            aria-label="Delete asset" onclick="event.stopPropagation();">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </th>
                    <td>{{ asset.name }}</td>
                    <td>{{ asset.get_total_quantity }}</td>
                    <td>
                        {% if asset.transactions.exists %}
                        {{ asset.get_average_price }}
                        {% else %}
                        0
                        {% endif %}
                    </td>
                    <td>
                        {% if asset.transactions.exists %}
                        {{ asset.get_total_value }}
                        {% else %}
                        0
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="dashboard-table">
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ total_value_sum }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    {% else %}
    <a href="{% url 'portfolio_add_asset' portfolio.pk %}"
                            class="btn-add btn btn-success btn-sm" aria-label="Add asset" id="btn-add-first-asset">+</a>
    <p class="justify-inner-content">No assets in this portfolio yet.</p>
    {% endif %}

    {% endblock portfolio_inner_content %}
</div>

<!-- Include DataTables JS and Custom Scripts -->
{% block extra_js_portfolio_header %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" defer></script>
<script src="{% static 'js/asset.js' %}" defer></script>
<script src="{% static 'js/sort_table.js' %}" defer></script>
{% endblock extra_js_portfolio_header %}