{% extends "portfolio/portfolio.html" %}

{% block portfolio_content %}
<div class="container">
    <div class="portfolio-header" style="background-color: {{portfolio.color|default:'invisible'}};">
        <div class="portfolio-title">
            <h1>Portfolio: {{ portfolio.name }}</h1>
            <p>Description: <br>{{ portfolio.description }}</p>
        </div>
        <div class="portfolio-buttons">
            {% include 'portfolio/includes/portfolio_actions.html' %}
        </div>
    </div>

    {% block portfolio_inner_content %}
    {% endblock portfolio_inner_content %}
    
</div>
{% endblock portfolio_content %}
