{% extends "portfolio/portfolio.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Transaction{% endblock title %}
{% block portfolio_content %}
<div class="container">
    <div class="portfolio-title">
        <h1>Add Transaction{% if asset %} to {{ asset.name }}{% endif %}</h1>
    </div>
    <div class="portfolio-content">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Add Transaction</button>
            <a href="{{ referrer }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

{% endblock portfolio_content %}
