{% extends 'base.html' %}
{% load static %}

<!-- Extra CSS block for home styles and external libraries -->
{% block extra_css %}
    <link rel="preload" href="{% static 'css/home.css' %}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="{% static 'css/footer.css' %}" as="style" onload="this.rel='stylesheet'">

    <!-- Child templates can add their own CSS here -->
    {% block extra_css_home %}
    {% endblock extra_css_home %}
{% endblock extra_css %}

<!-- Include sections of the home page -->
{% block content %}
{% include 'home/includes/hero.html' %}
{% include 'home/includes/about.html' %}
{% include 'home/includes/services.html' %}
{% include 'home/includes/pricing.html' %}
{% include 'home/includes/contact.html' %}
{% include 'home/includes/footer.html' %}

{% endblock content %}

<!-- Extra JS block for home styles and external libraries -->
{% block extra_js %}
    <script src="{% static 'js/home.js' %}" defer></script>
{% endblock extra_js %}
