/* Container Styling */
.container {
    display: flex;
    align-items: center; /* Vertically centers the card */
    justify-content: center; /* Horizontally centers the card */
    height: 100%; /* Ensures the container takes the full height of the viewport */
}

/* Card Styling */
.card {
    max-width: 450px; 
    padding: 20px; 
}

/* Division Margin */
#divison_x {
    margin-top: 30px;
}

/* Form Check Input Styling */
.form-check .form-check-input {
    float: none;
    margin-right: 10px;
}

.form-check-input:checked {
    background-color: var(--bs-link-hover-color);
    border-color: var(--bs-link-hover-color);
}

/* Email Verification Status Styling */
.verified {
    color: var(--light-accent);
}

.unverified {
    color: var(--red-accent);
}

/* Email List Styling */
.list-emails {
    max-height: 100px;
    overflow-y: auto;
    text-align: left;
    background-color: var(--bg-dark);
    border: var(--border);
    margin-bottom: 10px;
    border-radius: var(--bs-border-radius);
    padding-left: 10px;
    padding-top: 10px;
}

/* Form Text Styling */
.form-text {
    font-size: small;
    color: var(--text-secondary-color);
}

/* Badges */
.bg-primary{
    background-color: rgba(var(--info-color-rgb), var(--bs-bg-opacity)) !important;
}

.bg-success{
    background-color: rgba(var(--dark-accent-rgb), var(--bs-bg-opacity)) !important;
}