:root {
    /* Color Variables */
    --bg-light: #333333;
    --bg-light-rgb: 51, 51, 51;
    --bg-dark: #212529;
    --bg-darker: #000000;
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #b1b1b1;
    --light-accent: #2aac48;
    --dark-accent: #2ecc71;
    --border-color: #555555;
    --border: 2px solid var(--border-color);
    --red-accent: rgb(173, 30, 30);
    --dark-red-accent: rgb(110, 20, 20);
    --light-accent-rgb: 42, 172, 72;
    --dark-accent-rgb: 40, 167, 69;
    --red-accent-rgb: 173, 30, 30;
    --bs-link-color-rgb: 46, 204, 113;
    --bs-link-hover-color: #28a745;
    --bs-border-radius: 0.5rem;
    --warning-color:#C5A420 ;
    --warning-light-color:#876f12 ;
    --info-color: rgb(43, 166, 197);
    --info-light-color: #207b90 ;
    --info-color-rgb: 43, 166, 197;

    /* Font Variables */
    --font-primary: 'Roboto', Arial, sans-serif;
    --font-heading: 'Merriweather', Georgia, serif;
}

/* General Styling */
html, body {
    height: 100%;
}

body {
    padding-top: 56px;
    background-color: var(--bg-dark);
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
}

/* Screen-reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    color: var(--bg-darker);
    border: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

p {
    color: var(--text-secondary-color);
}

.small-heading {
    color: var(--light-accent);
    font-size: 1.1rem;
    font-weight: bold;
}

/* Backgrounds */
.bg-body-tertiary {
    background-color: var(--bg-dark);
    --bs-bg-opacity: 0.2;
}

main {
    flex: 1 0 auto;
    background-color: var(--bg-darker);
}

.py-5 {
    padding-top: 70px !important;
}

/* Navbar */
.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-darker);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.navbar-brand {
    max-height: 40px;
    color: var(--text-primary-color);
}

.nav-link {
    color: var(--text-primary-color);
}

.nav-link:hover {
    color: var(--light-accent);
}

.navbar-toggler {
    border-color: var(--text-secondary-color);
    border-width: 3px;
    color: var(--text-secondary-color) !important;
}

/* Cards */
.card {
    background-color: var(--bg-light);
    border: var(--border);
}

/* Buttons */
.btn {
    color: var(--text-primary-color);
}

.btn-warning, .btn-info, .btn-danger, .btn-success, .btn-primary, .btn-secondary {
    border: var(--border);
}

.btn-warning {
    color: var(--bg-darker);
    --bs-btn-bg: var(--warning-color);
    --bs-btn-border-color: var(--warning-color);
    --bs-btn-hover-bg: var(--warning-light-color);
    --bs-btn-hover-border-color: var(--warning-light-color);
}

.btn-info {
    color: var(--bg-darker);
    --bs-btn-bg: var(--info-color);
    --bs-btn-border-color: var(--info-color);
    --bs-btn-hover-bg: var(--info-light-color);
    --bs-btn-hover-border-color: var(--info-light-color);
}

.btn-danger {
    color: var(--text-primary-color);
    --bs-btn-bg: var(--dark-red-accent);
    --bs-btn-border-color: var(--dark-red-accent);
    --bs-btn-hover-bg: var(--red-accent);
    --bs-btn-hover-border-color: var(--red-accent);
}

.btn-success {
    color: var(--bg-darker);
    --bs-btn-bg: var(--dark-accent);
    --bs-btn-border-color: var(--dark-accent);
    --bs-btn-hover-bg: var(--light-accent);
    --bs-btn-hover-border-color: var(--light-accent);
}

.btn-primary {
    color: var(--bg-darker);
    background-color: var(--light-accent);
    border-color: var(--dark-accent);
}

.btn-primary:hover {
    color: var(--bg-darker);
    background-color: var(--dark-accent);
    border-color: var(--light-accent);
}

.btn-secondary {
    color: var(--text-primary-color);
    background-color: var(--red-accent);
    border-color: var(--dark-red-accent);
}

.btn-secondary:hover {
    color: var(--text-primary-color);
    background-color: var(--dark-red-accent);
    border-color: var(--red-accent);
}

/* Text */
.text-secondary {
    color: var(--text-secondary-color);
}

.construction-class {
    color: var(--warning-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.active {
    color: var(--dark-accent) !important;
    font-weight: 700;
}

.logout-main-menu {
    color: var(--red-accent);
}

/* Alerts */
.alert-success {
    background-color: rgba(var(--bs-link-color-rgb), 0.3);
    color: var(--text-primary-color);
    border-color: var(--light-accent);
}

.alert-danger {
    background-color: rgba(var(--red-accent-rgb), 0.3);
    color: var(--text-primary-color);
    border-color: var(--red-accent);
}

/* Popups */
.popup {
    display: flex;
    position: fixed;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    color: var(--text-primary-color);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    max-width: 400px;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
}

.popup.show {
    opacity: 1;
    visibility: visible !important;
}

.popup.success, .popup.info, .popup.custom {
    background-color: rgba(var(--dark-accent-rgb));
}

.popup.error, .popup.warning {
    background-color: rgba(var(--red-accent-rgb));
}

.popup .close-btn {
    height: 100%;
    background: none;
    border: none;
    color: var(--text-primary-color);
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    align-self: center;
}

.popup .popup-text {
    flex-grow: 1;
    text-align: left;
}

/* Media Queries */
@media (min-width: 768px) {
    .logout-main-menu {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 10px;
    }

    .logout-main-menu .menu-text {
        display: none;
    }
}
