@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{
    /* Default dark mode styling */
    --bg-light: #333333; /* Background color for light elements */
    --bg-light-rgb: 51, 51, 51;
    --bg-dark: #212529; /* Background color for main sections */
    --bg-darker: #0D0D0D; /* Background color for the darkest elements (e.g., navbar) */
    --text-primary-color: #FFFFFF; /* Primary text color (white) */
    --text-secondary-color: #b1b1b1; /* Secondary text color (light gray) */
    --light-accent: #2ECC71; /* Light accent color (green), used for buttons and highlights */
    --dark-accent: #28a745; /* Darker accent color, used on button hover states */
    --border: 1px solid #555555; /* Border color for elements like cards */
    --red-accent:#ad1e1e;

    /* Font families */
    --font-primary: 'Roboto', Arial, sans-serif; /* Primary font family for body text */
    --font-heading: 'Merriweather', Georgia, serif; /* Font family for headings */
}

/* General styling */
html, body {
    height: 100%; /* Ensure that the html and body take up the full height of the viewport */
}

/* Custom theme Adjustments */
body {
    padding-top: 56px; /* Add padding to the top of the body to prevent content from being hidden behind the fixed navbar */
    background-color: var(--bg-dark); /* Set the main background color */
    color: var(--text-primary-color); /* Set the primary text color */
    display: flex; /* Enable flexbox layout on the body */
    flex-direction: column; /* Arrange body content in a column */
    font-family: var(--font-primary); /* Use the primary font family for the body text */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading); /* Use the heading font for all heading elements */
}

p {
    color: var(--text-secondary-color);
}

.small-heading{
    color: var(--light-accent);
    font-size: 1.1rem; /* Adjust the size as needed */
    font-weight: bold; /* Optional: Keep it bold */
}

.bg-body-tertiary {
    background-color: var(--bg-dark);
    --bs-bg-opacity: 0.2;
}

main {
    flex: 1 0 auto; /* Allow the main content area to grow and shrink as needed, taking up available space */
    background-color: var(--bg-darker); /* Set a darker background color for the main content area */
}

.py-5{
    padding-top: 70px !important;
}

.navbar {
    z-index: 1000; /* Ensure the navbar stays above other content */
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Position the navbar at the very top of the page */
    width: 100%; /* Ensure the navbar spans the full width of the page */
    background-color: var(--bg-darker); /* Darker background color for the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for visual separation */
    opacity: 1; /* Ensure full opacity */
    --bs-navbar-brand-hover-color: inherit;
}

.navbar-brand{
    max-height: 40px; /* Adjust the size of the logo and brand in the navbar */
    color:var(--text-primary-color);
}

.nav-link {
    color: var(--text-primary-color); /* Set the link color in the navbar */
}

.nav-link:hover {
    color: var(--light-accent); /* Change link color on hover to the light accent color */
}

.navbar-brand:hover {
    text-decoration: none; /* Ensure no underline on hover */
}

.navbar-toggler{
    border-color: var(--text-secondary-color);
    border-width: 3px;
    color: var(--text-secondary-color) !important;
}

.card {
    background-color: var(--bg-light); /* Background color for card elements */
    border: var(--border); /* Border color for card elements */
}

.btn-primary {
    background-color: var(--light-accent); /* Background color for primary buttons */
    border-color: var(--dark-accent); /* Border color for primary buttons */
}

.btn-primary:hover {
    background-color: var(--dark-accent); /* Change button background on hover */
    border-color: var(--light-accent); /* Change button border on hover */
}

.text-secondary {
    color: var(--text-secondary-color); /* Secondary text color */
}

.construction-class{
    color: var(--red-accent);
    font-size: 1.1rem; /* Adjust the size as needed */
    font-weight: bold; /* Optional: Keep it bold */
}