/* Main container for portfolio page */
.portfolio-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 0 50px 0;
    padding: 0 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Header section of the portfolio */
.portfolio-header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: var(--bs-border-radius);
    min-height: 155px;
}

/* Button alignment within portfolio header */
.portfolio-header .btn {
    align-items: end;
    margin-left: 5px;
}

/* Title section in the portfolio header */
.portfolio-title {
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
}

/* Title styling in the portfolio list */
.my-portfolio-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 32px;
}

/* Portfolio title styling */
.my-portfolio-title h1,
.portfolio-title h1 {
    color: var(--text-primary-color);
    font-size: large;
    margin: auto 0 !important;
    padding-bottom: 0;
}

/* Portfolio description */
.portfolio-title p {
    margin: 5px 0 0 0;
    color: var(--text-primary-color);
}

/* Ensures text wraps properly */
.portfolio-title p span {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

/* Container for buttons in portfolio header */
.portfolio-buttons {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-left: auto;
}

/* Button group for top-level portfolio buttons */
.portfolio-buttons .button-l1 {
    display: flex;
    flex-direction: row;
}

/* Metrics button sizing */
.btn-metrics {
    margin-top: 5px;
    width: 69px;
    height: 32px;
    font-size: small;
}

/* Portoflio kebab menu */
.dropdown-item{
    font-size: medium;
}

.portfolio-menu-collapse {
    position: relative; /* Ensure relative positioning for absolute child elements */
}

.portfolio-menu-btn {
    position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    z-index: 1000; /* Ensures the button is on top of other elements */
    height: 16; /* If you want it to be half the height of its container */
}

.dropdown-menu {
    right: 0; /* Ensures the dropdown aligns with the button on the right */
    left: auto; /* Prevents the dropdown from extending to the left */
}

.portfolio-menu-collapse {
    position: relative; /* Ensure relative positioning for absolute child elements */
}

.portfolio-menu-btn {
    position: relative;
    z-index: 1000; /* Ensures the button is on top of other elements */
    height: 25px !important; /* Half the height of its container */
    margin-left: -25px !important;
    margin-bottom: 100px;
}

/* hide arrow from portfolio header kebab button */
.dropdown-toggle::after {
    display: none;
}

/* Asset header layout */
.asset-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* Ensures asset header text is centered */
.asset-header h2 {
    margin: auto 0;
}

/* First asset button */
#btn-add-first-asset {
    margin-left: 15px;
    margin-bottom: 15px;
}

/* Main content area of portfolio */
.portfolio-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 65vh;
    padding: 15px;
    border: var(--border);
    background-color: var(--bg-light);
    border-radius: var(--bs-border-radius);
}

/* Ensures proper textarea size */
.portfolio-content .textarea {
    max-height: 80px;
}

/* Button sizing for small buttons */
.btn-sm,
#edit-asset-name-btn,
#asset-save-btn {
    padding: auto;
    text-align: center;
    width: 32px;
    height: 32px;
}

/* Form group customization */
.custom-control.form-group {
    padding: 5px;
    margin: 0;
}

/* Form group element height */
.form-group div {
    min-height: 40px;
}

/* Switch control styling */
.custom-control.form-switch {
    padding: 0 0.5em;
}

/* Label in form switch */
.custom-control.form-switch label {
    display: inline;
}

/* Form switch input for toggles */
.custom-control.form-switch .form-check-input {
    width: 50px;
    height: 24px;
    background-color: var(--dark-accent);
    border-radius: 12px;
    position: relative;
    appearance: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    border: var(--border);
    margin-left: 0;
}

/* Removes focus outline */
.form-check-input:focus {
    border-color: none;
    box-shadow: none;
}

/* Circle inside the switch */
.custom-control.form-switch .form-check-input:before {
    content: '';
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.2s;
}

/* Switch checked (toggled) state */
.custom-control.form-switch .form-check-input:checked {
    background-color: var(--dark-red-accent);
}

/* Moves the toggle button when checked */
.custom-control.form-switch .form-check-input:checked:before {
    left: 27px;
}

/* Header section inside the portfolio */
.inner-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 15px;
}

/* Aligns h2 in the inner header */
.inner-header h2 {
    margin: auto 0;
}

/* Inner content justification */
.justify-inner-content {
    margin: 0 15px;
    width: -webkit-fill-available;
}

/* Color picker styling */
#color-switch {
    margin: 5px 0 0 5px;
    width: 69px;
    height: 32px;
    font-size: small;
}

/* Portfolio name and description layout */
#portfolio-name,
#portfolio-description {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

/* Scrollable description box */
#portfolio-description {
    margin-top: 5px;
    height: 75px;
    overflow: auto;
}

/* Input field height */
#portfolio-form input {
    height: 32px;
}

/* Ensures proper margin for delete and cancel buttons in the table */
table #delete-asset-btn,
table .btn-cancel {
    margin-top: 5px !important;
}

/* Adjusts button width in action column */
#action-buttons-transaction {
    width: 48px;
}

/* Responsive table with fixed height and scroll */
.table-responsive {
    height: 55vh;
    overflow-y: auto;
}

/* Adjusts transaction button margin */
#add-transaction {
    margin: 0 !important;
}

/* Aligns buttons in asset header */
.asset-action-buttons {
    margin: 0 15px 0 auto;
}

/* Title for adding a transaction */
#transaction-add-title {
    margin-left: 15px;
}

/* Adjusts column width in the dashboard table */
.dashboard-table th {
    width: 40px;
}

/* List styling for portfolios */
#portfolios-list {
    margin: 0 15px;
    overflow-y: auto;
    height: 75vh;
}

/* Adjusts content width in portfolio cards */
.portfolio-card-content {
    width: calc(40% - 15px);
}

/* Padding for content within portfolio cards */
.portfolio-card-content,
.portfolio-card-stats,
.portfolio-stats-container {
    padding: 15px;
}

/* Portfolio statistics container */
.portfolio-stats-container {
    border-left: var(--border);
    margin: auto 0;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    font-size: small;
}

/* Removes border in list group items */
.list-group-item .portfolio-stats-container {
    border-left: none;
}

/* Color tag beside portfolios */
.color-tag {
    width: 15px;
    margin: 0;
    padding: 0;
}

/* Styling for list group items */
.list-group-item {
    display: flex;
    flex-direction: row;
    padding: 0;
    min-height: 100px;
}

/* Styling for portfolio stats list */
.portfolio-stats-container ul {
    padding: 0;
    margin: 0;
}

/* List item styling in portfolio stats */
.portfolio-stats-container li {
    list-style-type: none;
    color: var(--text-secondary-color);
}

/* Ensures stats align to the right */
.portfolio-stats-container span {
    color: var(--text-primary-color);
    margin-left: auto;
}

/* DataTables table styling */
table.dataTable {
    border-collapse: collapse !important;
}

/* Adjusts DataTables sorting icon position */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    position: relative;
    padding: 0 20px;
    background-position: left center !important;
    background-repeat: no-repeat;
}

/* Hides overflow in portfolio description */
#portfolio-description-list {
    overflow: hidden;
}

/* Datables restyling */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate{
    color: var(--text-secondary-color) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: var(--text-secondary-color) !important;
}

.filtered-column{
    padding-left:20px !important;
    padding-bottom: 10px !important;
}

.unfiltered-column {
    padding: 8px 10px !important;
}

/* Media queries for responsive design */
@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: none;
    }

    .dashboard-table th {
        width: 88px;
    }
}