{% extends "dashboard/dashboard.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% trans "Update Username" %}
{% endblock title %}

<!-- Including the CSS for styling -->
{% block extra_css_dashboard %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" defer>
{% endblock extra_css_dashboard %}

{% block dashboard_content %}
<div class="container">
    <div class="card text-center">
        <!-- Page heading -->
        <h1>{% trans "Update Username" %}</h1>

        <!-- Username update form -->
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <!-- Submit button -->
            <button type="submit" class="btn btn-success">
                {% trans "Update Username" %}
            </button>
        </form>
    </div>
</div>
{% endblock dashboard_content %}
