{% load static %}

<footer>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <!-- Social media icons -->
    <a href="https://github.com/users/catapam" target="_blank" rel="noopener" aria-label="Github link" class="nav-link">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/catapam/" target="_blank" rel="noopener" aria-label="Linkedin link" class="nav-link">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://stackoverflow.com/" target="_blank" rel="noopener" aria-label="Stack overflow link" class="nav-link">
        <i class="fa-brands fa-stack-overflow"></i>
    </a>
    <a href="https://www.reddit.com/" target="_blank" rel="noopener" aria-label="Reddit link" class="nav-link">
        <i class="fa-brands fa-reddit"></i>
    </a>
    <a href="https://x.com/" target="_blank" rel="noopener" aria-label="X/twitter link" class="nav-link">
        <i class="fa-brands fa-x-twitter"></i>
    </a>

    <script src="{% static 'js/home.js' %}"></script>
</footer>