{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="/#">
        <img src="{% static 'images/logo.webp' %}" alt="InvestNest logo" width="30" height="24">
        InvestNest
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Nav items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" href="/dashboard/">Dashboard</a>
          </li>
          {% if request.user.is_staff or request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'contacts' %}active{% endif %}" href="/contacts/">Contacts</a>
          </li>
          {% endif %}
          {% if request.user.is_superuser %}
          <li class="nav-item">
              <a class="nav-link {% if url_name == 'admin:index' %}active{% endif %}" href="/admin/" target="_blank">Admin</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}"
              href="/accounts/logout/">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/#contact">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}"
              href="/accounts/signup/">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'account_login' %}active{% endif %}" href="/accounts/login/">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% endwith %}
</header>