{% extends "dashboard/dashboard.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% trans "Email Addresses" %}
{% endblock title %}
{% block dashboard_content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="container">
    <div class="card text-center">
        {% element h1 %}
            {% trans "Email Addresses" %}
        {% endelement %}
        {% if emailaddresses %}
            {% element p %}
                {% trans 'The following email addresses are associated with your account:' %}
            {% endelement %}
            {% url 'account_email' as email_url %}
            {% element form form=form action=email_url method="post" tags="email,list" %}
                {% slot body %}
                    {% csrf_token %}
                    <div class="list-emails">
                        {% for radio in emailaddress_radios %}
                            {% with emailaddress=radio.emailaddress %}
                                {% if emailaddress.primary %}
                                    {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                                        {% slot label %}
                                            {{ emailaddress.email }}
                                            {% if emailaddress.verified %}
                                                {% element badge tags="success,email,verified" %}
                                                    <i class="fa-solid fa-certificate verified"></i>
                                                {% endelement %}
                                            {% else %}
                                                {% element badge tags="warning,email,unverified" %}
                                                    <i class="fa-solid fa-certificate unverified"></i>
                                                {% endelement %}
                                            {% endif %}
                                            {% element badge tags="email,primary" %}
                                                {% translate "Primary" %}
                                            {% endelement %}
                                        {% endslot %}
                                    {% endelement %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        
                        {% for radio in emailaddress_radios %}
                            {% with emailaddress=radio.emailaddress %}
                                {% if not emailaddress.primary %}
                                    {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                                        {% slot label %}
                                            {{ emailaddress.email }}
                                            {% if emailaddress.verified %}
                                                {% element badge tags="success,email,verified" %}
                                                    <i class="fa-solid fa-certificate verified"></i>
                                                {% endelement %}
                                            {% else %}
                                                {% element badge tags="warning,email,unverified" %}
                                                    <i class="fa-solid fa-certificate unverified"></i>
                                                {% endelement %}
                                            {% endif %}
                                        {% endslot %}
                                    {% endelement %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>                    
                {% endslot %}
                {% slot actions %}
                    <button type="submit" name="action_primary" class="btn btn-success w-33 mb-2">
                        {% trans 'Make Primary' %}
                    </button>
                    <button type="submit" tags="secondary" name="action_send" class="btn btn-success w-33 mb-2">
                        {% trans 'Re-send Verification' %}
                    </button>
                    <button tags="danger,delete" type="submit" name="action_remove" class="btn btn-success w-33 mb-2">
                        {% trans 'Remove' %}
                    </button>
                {% endslot %}
            {% endelement %}
        {% else %}
            {% include "account/snippets/warn_no_email.html" %}
        {% endif %}
        {% if can_add_email %}
            <div id="divison_x">
                {% element h1 %}
                    {% trans "Add Email Address" %}
                {% endelement %}
                {% url 'account_email' as action_url %}
                {% element form form=form method="post" action=action_url tags="email,add" %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ form|crispy }}
                    {% endslot %}
                    {% slot actions %}
                        <button name="action_add" type="submit" class="btn btn-success w-50 mb-2">
                            {% trans "Add Email" %}
                        </button>
                    {% endslot %}
                {% endelement %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock dashboard_content %}
{% block extra_body %}
    <script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected email address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
    </script>
{% endblock extra_body %}
