{% extends "base.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% trans "Sign In" %}
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="container">
    <div class="card text-center">
        {% element h1 %}
            {% trans "Sign In" %}
        {% endelement %}
        {% if not SOCIALACCOUNT_ONLY %}
            {% setvar link %}
                <a href="{{ signup_url }}">
                {% endsetvar %}
                {% setvar end_link %}
                </a>
            {% endsetvar %}
            <p class="small">If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.</p>
            {% url 'account_login' as login_url %}
            {% element form form=form method="post" action=login_url tags="entrance,login" class="form p-2" %}
                {% slot body %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ redirect_field }}
                {% endslot %}
                {% slot body %}
                    <button type="submit"  tags="prominent,login" class="btn btn-success w-25 mb-2">
                        {% trans "Sign In" %}
                    </button>
                {% endslot %}
            {% endelement %}
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
