{% extends "base.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% trans "Change Password" %}
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="container">
    <div class="card text-center">
        {% element h1 %}
            {% trans "Change Password" %}
        {% endelement %}
        {% element p %}
            {% trans 'Your password is now changed.' %}
        {% endelement %}
    </div>
</div>
{% endblock content %}
