{% extends "dashboard/dashboard.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% trans "Change Password" %}
{% endblock title %}
{% block dashboard_content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="container">
    <div class="card text-center">
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {{ form|crispy }}
        {% endslot %}
        {% slot actions %}
            <button type="submit" class="btn btn-success w-50 mb-2">
                {% trans "Change Password" %}
            </button>
            <br>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
    {% endelement %}
</div>
{% endblock dashboard_content %}
