{% extends "dashboard/dashboard.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% translate "Change Password" %}
{% endblock title %}

{% block dashboard_content %}
<!-- Extra CSS block for dashboard styles -->
{% block extra_css_dashboard %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css_dashboard %}

<div class="container">
    <div class="card text-center">
        <!-- Page heading -->
        <h1>
            {% translate "Change Password" %}
        </h1>

        <!-- Change password form -->
        {% url 'account_change_password' as action_url %}
        <form method="post" action="{{ action_url }}">
            <div class="form-body">
                {% csrf_token %}
                {{ redirect_field }}
                {{ form|crispy }}
            </div>

            <!-- Submit button and Forgot Password link -->
            <div class="form-actions">
                <button type="submit" class="btn btn-success w-50 mb-2">
                    {% translate "Change Password" %}
                </button>
                <br>
                <a href="{% url 'account_reset_password' %}">
                    {% translate "Forgot Password?" %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock dashboard_content %}
