{% extends "dashboard/dashboard.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% translate "Change Password" %}
{% endblock title %}

{% block dashboard_content %}
<!-- Extra CSS block for dashboard styles -->
{% block extra_css_dashboard %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css_dashboard %}

<div class="container">
    <div class="card text-center">
        <!-- Page heading -->
        <h1>
            {% translate "Change Password" %}
        </h1>

        <!-- Password change confirmation message -->
        <p>
            {% translate 'Your password is now changed.' %}
        </p>
    </div>
</div>
{% endblock dashboard_content %}
