{% extends "base.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% translate "Change Password" %}
{% endblock title %}

{% block content %}
<!-- Extra CSS block styles -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" >
{% endblock extra_css %}

<div class="container">
    <div class="card text-center">
        <!-- Page heading -->
        <h1>
            {% translate "Change Password" %}
        </h1>

        <!-- Password change confirmation message -->
        <p>
            {% translate 'Your password is now changed.' %}
        </p>
    </div>
</div>
{% endblock content %}
