{% extends "base.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% translate "Change Password" %}
{% endblock title %}

{% block content %}
<!-- Extra CSS block styles -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css %}

<div class="container">
    <div class="card text-center">
        <!-- Page heading -->
        <h1>
            {% if token_fail %}
                {% translate "Bad Token" %}
            {% else %}
                {% translate "Change Password" %}
            {% endif %}
        </h1>

        <!-- If token fails, show error message and link for new password reset -->
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
        {% else %}
            <!-- Change password form -->
            <form method="post" action="{{ action_url }}">
                <div class="form-body">
                    {% csrf_token %}
                    {{ redirect_field }}
                    {{ form|crispy }}
                </div>

                <!-- Submit button -->
                <div class="form-actions">
                    <button type="submit" name="action" class="btn btn-success w-50 mb-2">
                        {% translate 'Change Password' %}
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
