{% extends "base.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% trans "Sign Up Closed" %}
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="container"></div>
    <div class="card text-center">
        {% element h2 %}
            {% trans "Sign Up Closed" %}
        {% endelement %}
        {% element p %}
            {% trans "We are sorry, but the sign up is currently closed." %}
        {% endelement %}
    </div>
</div>
{% endblock content %}
