{% extends "base.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% trans "Signup" %}
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <div class="container text-center">
        {% element h1 %}
            {% trans "Sign Up" %}
        {% endelement %}
        {% setvar link %}
            <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
            {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
        {% endelement %}
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            {% element form  class="form p-2" form=form method="post" action=action_url tags="entrance,signup" %}
                {% slot body %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    <button type="submit"  tags="prominent,signup" class="btn btn-primary w-25 mb-2">
                        {% trans "Sign Out" %}
                    </button>
                {% endslot %}
            {% endelement %}
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
