{% load static %}

<!DOCTYPE html>
<html lang="en"  data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- SEO optimization: Description and keywords for search engines -->
    <meta name="description"
        content="InvestNest - Take control of your investments portfolio">
    <meta name="keywords"
        content="invest, investiment, portfolio, investment portfolio, portfolio management, free, free trial">
    <title>InvestNest - {% block title %}{% endblock %}</title>

    <!-- Favicon and touch icons for various platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">

    <!-- Bootstrap import -->
    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    {% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/ab75482a80.js" crossorigin="anonymous"></script>
    {% endblock %}

</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        {% block content %}
        {% endblock %}
        {% if form_submitted %}
            <div id="success-popup" class="popup success">
                <span class="popup-text">Your message has been sent successfully!</span>
                <button class="close-btn" onclick="closePopup('success-popup')">&times;</button>
            </div>
        {% elif form_error %}
            <div id="error-popup" class="popup error">
                <span class="popup-text">An error occurred while submitting the form. Please contact by email: support@investnest.com</span>
                <button class="close-btn" onclick="closePopup('error-popup')">&times;</button>
            </div>
        {% endif %}
    </main>

    {% include 'includes/footer.html' %}
</body>
</html>