/* forms */
.container{
    display: flex;
    align-items: center; /* Vertically centers the card */
    justify-content: center; /* Horizontally centers the card */
    height: 100%; /* Ensures the container takes the full height of the viewport */
}

#id_password1_helptext{
    font-size: .675em;
}

h1,h2,h3,h4,h5,h6{
    font-size: medium;
}

h1{
    color: var(--light-accent);
    padding-bottom: 20px;
}

p,a{
    font-size: small;
}

.card {
    max-width: 450px; 
    padding: 20px; 
}

#divison_x{
    margin-top: 30px;
}

.form-check .form-check-input {
    float: none;
    margin-right: 10px;
}

.form-check-input:checked {
    background-color: var(--bs-link-hover-color);
    border-color: var(--bs-link-hover-color);
}

.verified{
    color: var(--light-accent);
}

.unverified{
    color: var(--red-accent);
}

.list-emails{
    max-height: 100px;
    overflow-y: auto;
    text-align: left;
    background-color: var(--bg-dark);
    border: var(--border);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.form-text{
    font-size: small;
    color: var(--text-secondary-color);
}