.dashboard-container {
    display: flex;
    position: relative;
}

.sidebar {
    z-index: 2;
    width: 150px;
    background-color: var(--bg-light);
    color: var(--text-primary-color);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 60px;
}

.dashboard-content {
    background-color: var(--bg-dark);
    width: 100%;
    height: 100vh;
    transition: margin-left 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 56px;
    padding-left: 200px;
}

.collapsed + .dashboard-content {
    padding-left: 110px;
}

/* Inner menu */
.menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 56px;
    height: 100vh;
    position: relative;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: var(--text-primary-color);
    text-decoration: none;
    height: 60px;
    border-right: var(--border); /* Default right border */
}

.menu-item:hover {
    color: var(--dark-accent);
}

.logout-dashboard:hover {
    color: var(--bg-darker);
}

.admin-access:hover {
    color: var(--red-accent);
}

.menu-text {
    font-size: large;
    margin-left: 10px;
}

.menu-text i {
    max-width: 70px;
}

.disabled{
    color: var(--bg-darker) !important;
    font-weight: 700;
}

.sidebar.collapsed .menu-text {
    display: none;
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: -45px;
    background-color: transparent;
    border: var(--border);
    color: var(--border);
    cursor: pointer;
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 60px;
}

.admin-access {
    background-color: var(--text-secondary-color);
    color: var(--bg-darker);
}

.logout-dashboard {
    background-color: var(--red-accent);
}

.bottom-menu-dashboard {
    margin-top: auto;
    padding-bottom: 56px;
}

.top-menu-dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    border-bottom: var(--border);
}

/* Adjusting the right border */
.menu-list .menu-item.active {
    background-color: var(--bg-dark);
    color: var(--text-secondary-color) !important;
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: none; /* Remove right border when active */
}

.menu-list .menu-item:not(.active) {
    border-right: var(--border); /* Right border for non-active items */
}

/* Ensuring the right border stays visible on empty areas */
.menu-list::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--border); /* Same as the border color */
    pointer-events: none; /* Ensure this does not interfere with other elements */
    z-index: 1;
}

.empty-area{
    flex-grow: 1;
    width: 100%;
    border-right: var(--border);
}

.option-menu{
    margin-top: 10px;
    border-bottom: var(--border);
    border-width: 4px;
}

.option-menu .nav-link{
    border: var(--border);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 0;
}

.option-menu .nav-link.active{
    color: var(--text-primary-color) !important;
    background-color: var(--border-color) !important;
    border: var(--border);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 0;
}


@media (min-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .menu-text {
        font-size: 1rem;
    }
    
    .menu-item i {
        font-size: 1rem;
    }

    .dashboard-content {
        padding-left: 250px;
    }
}
