/* General Styles */
#id_password1_helptext {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: medium;
}

h1 {
    color: var(--text-primary-color);
    padding-bottom: 20px;
}

p, a {
    font-size: small;
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    position: relative;
}

/* Sidebar */
.sidebar {
    z-index: 2;
    width: 150px;
    background-color: var(--bg-light);
    color: var(--text-primary-color);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 60px;
}

/* Dashboard Content */
.dashboard-content {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    width: auto;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 56px;
    margin-left: 150px;
    border-top: var(--border);
}

.dashboard-content .container {
    height: auto;
    padding-top: 20px;
}

.collapsed + .dashboard-content {
    margin-left: 60px;
}

/* Menu */
.menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 56px;
    height: 100vh;
    position: relative;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: var(--text-primary-color);
    text-decoration: none;
    height: 60px;
    border-right: var(--border); /* Default right border */
}

.menu-item:hover {
    color: var(--dark-accent);
}

.logout-dashboard:hover {
    color: var(--bg-darker);
}

.admin-access:hover {
    color: var(--red-accent);
}

.menu-text {
    font-size: large;
    margin-left: 10px;
}

.menu-text i {
    max-width: 70px;
}

.disabled {
    color: var(--bg-darker) !important;
    font-weight: 700;
}

.sidebar.collapsed .menu-text {
    display: none;
}

/* Toggle Button */
.toggle-btn {
    position: absolute;
    top: 10px;
    right: -45px;
    background-color: transparent;
    border: var(--border);
    color: var(--border);
    cursor: pointer;
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 60px;
}

/* Access and Logout Buttons */
.admin-access {
    background-color: var(--text-secondary-color);
    color: var(--bg-darker);
}

.logout-dashboard {
    background-color: var(--red-accent);
}

.bottom-menu-dashboard {
    margin-top: auto;
    padding-bottom: 56px;
}

.top-menu-dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    border-bottom: var(--border);
}

/* Adjust Right Border */
.menu-list .menu-item.active {
    background-color: var(--bg-dark);
    color: var(--text-secondary-color) !important;
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: none; /* Remove right border when active */
}

.menu-list .menu-item:not(.active) {
    border-right: var(--border); /* Right border for non-active items */
}

/* Empty Areas */
.menu-list::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--border); /* Same as the border color */
    pointer-events: none; /* Ensure this does not interfere with other elements */
    z-index: 1;
}

.empty-area {
    flex-grow: 1;
    width: 100%;
    border-right: var(--border);
}

/* Option Menu */
.option-menu-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 46px;
    padding-left: 60px;
}

.option-menu {
    flex-grow: 1;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 0;
    border-bottom: var(--border);
    border-width: 4px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding: 0;
    scroll-behavior: smooth;
}

.option-menu::-webkit-scrollbar {
    display: none;
}

.option-menu .nav-item {
    height: 40px;
    display: block;
    flex-shrink: 0;
    transition: opacity 0.3s ease;
}

.option-menu .nav-item.faded {
    opacity: 0.5;
}

.option-menu .nav-link {
    height: 40px;
    border: var(--border);
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom: 0;
    display: flex;
    padding: 10px;
    flex-direction: row;
}

.option-menu .nav-link.active {
    color: var(--text-primary-color) !important;
    background-color: var(--border-color) !important;
    border: var(--border);
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom: 0;
    height: 40px;
}

.option-menu .menu-text {
    display: none;
}

/* Scroll Buttons */
.scroll-button {
    position: relative;
    background-color: transparent;
    height: 44px;
    border: var(--border);
    border-width: 4px;
    padding: 10px;
    cursor: pointer;
    display: none;
    z-index: 1;
    margin-top: 10px;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}

.scroll-button:hover {
    color: var(--light-accent);
}

.scroll-button-left {
    left: 0;
    border-bottom-left-radius: var(--bs-border-radius);
}

.scroll-button-right {
    right: 0;
    border-bottom-right-radius: var(--bs-border-radius);
}

/* Dashboard Tables */
.dashboard-table {
    border-top: var(--border);
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .menu-text {
        font-size: 1rem;
    }

    .menu-item i {
        font-size: 1rem;
    }

    .dashboard-content {
        margin-left: 200px;
    }

    .option-menu .menu-text {
        display: block;
    }
}
