{% load static %}

<!-- About Section -->
{% with about=about_section %}
<section id="about" class="py-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="small-heading">{{ about.title }}</h1>
                <h2>{{ about.subtitle }}</h2>
                <p>{{ about.content }}</p>
                <a href="{{ about.button_link }}" class="btn btn-success">
                    {{ about.button_text }}
                </a>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <!-- Added descriptive alt text for better accessibility -->
                <img src="{{ about.image }}" alt="Representation of a dreamy portfoio tool" class="img-fluid" id="about-image">
            </div>
        </div>
    </div>
</section>
{% endwith %}
