{% load static %}

<!-- Hero Section -->
{% with hero=hero_section %}
<section id="hero"
    style="background-image: linear-gradient(var(--bg-darker), rgba(var(--bg-light-rgb), 0.6), var(--bg-dark)), url('{{ hero.background_image.url }}');"
    class="py-5 text-center">
    <div class="container">
        <h2>{{ hero.title }}</h2>
        <h3 class="lead">{{ hero.subtitle }}</h3>
        <a href="{{ hero.button_link }}" class="btn btn-success">{{ hero.button_text }}</a>
    </div>
</section>
{% endwith %}
