<div class="option-menu-wrapper">
  <button class="scroll-button scroll-button-left">&lt;</button>
  <ul class="option-menu">
    {% for item in intra_menu %}
      <li class="nav-item">
        <a href="{{ item.url }}" class="nav-link">
          <i class="{{ item.icon }}" style="color: {{item.color|default:'#FFFFFF'}};"></i> 
          <span class="menu-text">{{ item.name }}</span>
        </a>
        
      </li>
    {% endfor %}
  </ul>
  <button class="scroll-button scroll-button-right">&gt;</button>
</div>